@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <!--Top nav-->

    <TopNavMenu></TopNavMenu>

    <!--main-->

    <main class="flex-grow-1">
        @Body
    </main>

    <!--footer-->

    <footer class="flex-shrink-0">

    </footer>

</div>